#header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
}
* {
  margin: 15;
  padding: 15;
  box-sizing: content-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(206, 228, 230);
  position: center;
  padding: 18px 20px;
}

.rejectbar {
  background-color: chocolate;
  overflow: hidden;
}
.rejectbar ul {
  list-style-type: none;
}

.rejectbar li {
  float: left;
  border-right: 1px solid #bbb;
  float: left;
}

.rejectbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
nav:hover {
  background-color: rgb(135, 184, 159);
}
.careerimg {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  padding: 5px;
}
img:hover {
  box-shadow: 0 0 2px 1px rgba(72, 175, 85, 0.5);
}
table {
  border: 1px solid;
}
